{% block content %}
    <div class="h-24 bg-white">

        <nav class="flex px-4 border-b md:shadow-lg items-center relative">
            <ul class="md:px-2 ml-auto md:flex md:space-x-2 absolute md:relative top-full left-0 right-0">
                <li>
                    <a href="/" class="flex md:inline-flex p-4 items-center hover:bg-gray-50">
                        <span>Home</span>
                    </a>
                </li>
                {% if session.username is empty %}
                    <form method="post" class="bg-blue text-center text-black rounded">
                        <input type="text" name="username" placeholder="Username"
                               class=" border  text-sm py-2 px-3 rounded" required/>
                        <input type="password" name="password" placeholder="Password"
                               class=" border  text-sm py-2 px-3 rounded my-3" required/>
                        <button type="submit"
                                class="bg-blue-200 text-black font-bold py-2 px-4 rounded border mx-auto ">
                            Login
                        </button>
                    </form>
                    <form>
                        <button class="bg-blue-200 text-black font-bold mt-2.5 py-2 px-4 rounded border mx-auto "
                                formaction="/register">Register
                        </button>
                    </form>
                {% else %}
                    <li>
                        <a href="/account" class="flex md:inline-flex p-4 items-center hover:bg-gray-50">
                            <span>Your stock</span>
                        </a>
                    </li>
                    <li>
                        <a href="/buy" class="flex md:inline-flex p-4 items-center hover:bg-gray-50">
                            <span>Buy</span>
                        </a>
                    </li>
                    <li class="flex md:inline-flex p-4 items-center">Hello, {{ session.username }}.
                        <h1 class=" ml-1 font-bold"> Your
                            wallet: {{ (wallet / 100)|format_currency('USD',{min_fraction_digit:3}) }}</h1></li>
                    <form action="/logout">
                        <button type="submit" class="bg-blue-200 text-black font-bold py-1 px-2 mt-3 rounded border ">
                            Logout
                        </button>
                    </form>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
