<!DOCTYPE html>
<html lang="en">
{% include 'HeaderView.twig' %}
<body>
    <h1 class="text-lg text-center">You successfully sold stock</h1>
    <meta http-equiv="refresh" content="3; URL=/account" />
</body>
</html>